.container {
    border-bottom-left-radius: 0.5rem;
    border-bottom:  1px dashed var(--main-border-color);
    border-left:  1px dashed var(--main-border-color);
    padding-top: 1.25rem;
    margin-left: 0.5rem;
}

.block {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.block+.block {
    border-top: 1px dashed var(--main-border-color);
}

.block:first-of-type {
    border-top-right-radius: 0.5rem;
}

.block:nth-of-type(2n) {
    background-color: var(--table-even-color);
}

.block:nth-of-type(2n+1) {
    background-color: var(--table-odd-color);
}

.postTitle {
    flex: 1 1 60%;
    padding: .25rem 0.75rem;
}

.postDate {
    flex: 1 1;
    display: inline-block;
    text-align: right;
    font-style: italic;
    font-size: 1rem;
    padding: .25rem 0.50rem;
}

.more {
    text-align: right;
}

.more a {
    text-decoration: none;
}
