.avatarContainer {
    padding: 0.5rem;
    text-align: center;
    overflow: hidden;
}

.avatarContainer img {
    border-radius: 1rem;
}

.cardLabel {
    display: block;
    font-weight: 700;
    font-size: 1rem;
    padding: .5rem;
}

.cardLabel:after {
    content: ':';
}

.cardValue {
    background-color: #303436;
    font-size: 1rem;
    padding: 0.25rem 1rem;
    margin: 0.25rem 0;
    border: none;
    display: block;
    border-radius: 0.5rem;
}


@media screen and (min-width: 800px) {
    .card {
        display: flex;
    }

    .cardTable {
        flex: 1 1;
        padding: 0.5rem;
        align-items: stretch;
    }

    .cardRow {
        display: flex;
    }
    
    .cardLabel {
        flex: .2 1;
    }

    .cardValue {
        flex: 1 1;
    }
}