:root {
    --main-background-color: #0d1117;
    --main-border-color: #555555;
    --link-color: #009dff;
    --primary-green: #099945;
    --secondary-green: #1a3a15;
    --tertiary-green: #0f200c;
    --primary-blue: #0a82b1;
    --secondary-blue: #05455f;
    --tertiary-blue: #05232f;
}

@font-face {
    font-family: 'Cantarell';
    src: url('/assets/fonts/Cantarell-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('/assets/fonts/Cantarell-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('/assets/fonts/Cantarell-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('/assets/fonts/Cantarell-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('/assets/fonts/Cantarell-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Cantarell', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0 0 1rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    height: 100%;
    background-color: var(--main-background-color);
    background-size: cover;
    padding-bottom: 2.5rem;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: var(--link-color);
    text-decoration: underline;
    background-color: transparent;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline dotted;
}

section {
    margin: 0.5rem;
}

pre {
    width: 100%;
}

table {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 1rem 0;
    overflow: hidden;
}

table thead {
    background: var(--secondary-green);
    z-index: -1;
    border-bottom: 1px solid #999999;
}

table thead tr,
table tbody tr {
    display: flex;
}

table tbody tr+tr {
    border-top: 1px solid #999999;
}

table thead tr th,
table tbody tr td {
    display: flex;
    flex: 1;
    padding: .5em;
}

table th+th,
table td+td {
    border-left: 1px solid #999999;
}

.lambda-logo {
    width: 256px;
    height: 256px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.container {
    max-width: 1018px;
    margin: 0 auto;
    position: relative;
}

.block {
    display: block;
    padding: 1.5rem;
    max-width: 100%;
    margin: 1rem 0.25rem;
    border-radius: 1rem;
}

code {
    overflow-x: scroll;
    max-width: 100%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    vertical-align: bottom;
}

.button {
    padding: 0.2rem 1rem;
    margin: 0.3rem 0.3rem;
    color: #ffffff;
    background: var(--primary-green);
    display: inline-block;
    text-decoration: none;
    transition: 100ms ease-in-out all;
    border-radius: 0.5rem;
    box-shadow: none;
}

.button:hover {
    text-decoration: none;
    background: var(--secondary-green);
    box-shadow: 0 0 0 1px var(--secondary-green);
}

.button:focus {
    box-shadow: 0 0 0 2px #ffffff;
}

.button:active {
    text-decoration: none;
    box-shadow: none;
    color: #cccccc;
    background: var(--tertiary-green);
    box-shadow: none;
}

.button.blue {
    background: var(--primary-blue);
}

.button.blue:hover {
    background: var(--secondary-blue);
    box-shadow: 0 0 0 1px var(--secondary-blue);
}

.button.blue:active {
    background: var(--tertiary-blue);
    box-shadow: none;
}

.text.center {
    text-align: center;
}

.no-display {
    display: none;
}

.button.link::after {
    content: ' \2192';
    display: inline-block;
    transition: 100ms ease-in-out all;
    margin-left: 0.3rem;
}

.button.link:hover {
    display: inline-block;
    transition: 100ms ease-in-out all;
}

.button.link:hover::after {
    transform: translateX(0.2rem) scale(1.3);
}

.button.link.extern:hover::after {
    transform: rotateZ(-45deg) scale(1.5);
}

.button.link.back::before {
    content: ' \2190';
    display: inline-block;
    transition: 100ms ease-in-out all;
    margin-right: 0.3rem;
}

.button.link:hover::before {
    transform: translateX(-0.2rem) scale(1.3);
}

.button.link.back::after {
    content: '';
    display: none;
}