.button::after {
    content: ' \2192';
    margin-left: 0.5rem;
    display: inline-block;
    transition: 100ms ease-in-out all;
}

.button:hover::after {
    transform: translateX(0.2rem) scale(1.1);
}

.blueButton:hover::after {
    transform: rotateZ(-45deg) scale(1.5);
}