.desc {
    font-size: 0.95rem;
}

.listItem {
    padding: 0.25rem;
    display: block;
}

.listItem::before {
    content: '■';
    padding: 0 0.5rem;
}

.listItemDesc {
    display: inline-block;
    padding: 0.25rem;
    margin-left: 2.5rem;
    font-size: 0.95rem;
}

.block .block {
    margin: 0;
    margin-left: 0.5rem;
    border-radius: 0;
    border-right: none;
    border-bottom: none;
    border-top: 1px dashed var(--main-border-color);
    border-left: 1px dashed var(--main-border-color);
}

.block .block:first-of-type {
    border-top: none;
}

.block .block:last-of-type {
    border-bottom-left-radius: 1rem;
    border-bottom:  1px dashed var(--main-border-color);
}