.desc {
    font-size: 0.95rem;
}

.listItem {
    padding: 0.25rem;
    display: block;
}

.listItem::before {
    content: '■';
    padding: 0 0.5rem;
}

.listItemDesc {
    display: inline-block;
    padding: 0.25rem;
    margin-left: 2.5rem;
    font-size: 0.95rem;
}

