.imageBlock {
    position: fixed;
    z-index: -1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: top left;
    min-height: 100%;
    background-attachment: fixed;
}

.block {
    font-family: 'EB Garamond', 'Garamond', 'Times New Roman', Times, serif;
    background-color: rgba(13, 17, 23, 0.95);
    margin: 0 auto;
    border-radius: 0;
    font-size: 1.25rem;
    line-height: 2rem;
}

.spacer {
    height: 5rem;
}