.container {
    text-align: center;
    margin: auto;
    background-color: var(--main-background-color);
}

.container .title {
    border-bottom: 1px solid #FFFFFF;
    max-width: 95%;
    margin: auto;
}

.nav {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    bottom: 0;
    z-index: 1000;
    margin: 0;
    height: 2.5rem;
    max-height: 2.5rem;
    min-height: 2.5rem;
    min-width: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #1a3a15, #09351b) no-repeat center center fixed;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}
